<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MovieFinder</title>
  </head>
  <body>
    <h1>Welcome to MovieFinder</h1>
    <h2><a href="movie/superman">Click here to begin (and view SuperMan)</a></h2>
  </body>
</html>
