body {
  background-color: #252c38;
  color: white;
}

input {
  height: 20px;
  width: 300px;
}

#myform {
  padding-bottom: 10px;
}


#clone {
  font-size: 70px;
}

.label {
  color: #fe5e27;
  font-weight: bold;
}
